<!DOCTYPE html>
<html lang="en">
   
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Food News</title>
	</head>

	<body>
        <h2>Food News</h2>
		{{{ body }}}
	</body>
</html>
